.container {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  width: 230px;
  height: 400px;
  background-color: brown;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: flex-start;
}
